#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  font: var(--text-md);
}

#profile_intro {
  max-width: 592px;
  display: flex;
  gap: 32px;
  padding: 8px 26px 8px 0;
}

#profile_intro img {
  width: 176px;
  height: 176px;
}

#profile_intro h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#about ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#about ul img {
  vertical-align: middle;
  margin-right: 8px;
}
